# Python
__pycache__/
*.pyc

# Model weights
*.pth
*.pt
*.onnx

# Build
build/
**/build/

# IDE
.vscode/
.idea/

# Notebook
.ipynb_checkpoints/

# Temp
tmp/
temp/

# Logs
*.log

# Outputs
*.avi
*.mp4

# Training folders
exp/
evaluation/

# Virtual env
venv/
env/

# OS
.DS_Store
Thumbs.db

# Custom
model2.py